#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#resume-preview, #Information {
    flex: 1;
}



#resume-preview {
    background-color: #f6f7f9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    height: 100%;
}

footer {
    text-align: center;
}

footer .github-logo img, footer .github-logo source {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

@media only screen and (max-width: 1250px) {
    #container {
        flex-direction: column;
    }
    #savePdfBtn {
        width: 60%;
    }
}

@media print {
    @page {
        size: Letter; /* You can adjust the size as needed (e.g., Letter) */
        margin: 0;
    }
    /* Limit page print to only 1 page */
    html, body {
        height:100%;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
    body {
        visibility: hidden;
    }
    #paper {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        width: 100%;
        max-height: 100%;
        page-break-after: always;
    }
}